<a href="https://colab.research.google.com/github/GayathriShrikanth/J046NLP/blob/master/pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import regex as re
import nltk
import pandas as pd
from collections import Counter
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
import io
from nltk.tokenize import word_tokenize
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.pipeline import Pipeline
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [0]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00228/smsspamcollection.zip'

In [0]:
stoplist = set(stopwords.words('english'))

In [0]:
from zipfile import ZipFile
from urllib.request import urlopen
data=urlopen(url)

In [0]:
f = ZipFile(io.BytesIO(data.read()))

In [0]:
df = pd.read_csv(f.open('SMSSpamCollection'),sep = '\t',header=None)

In [11]:
df.head()

      0                                                  1
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [0]:
y=df[0]
X=df[1]

In [14]:
X

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will Ã¼ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: 1, Length: 5572, dtype: object

In [0]:
stoplist = set(stopwords.words('english'))
def preprocess(text):
  text=re.sub('[^a-zA-Z]', " ", text)
  text=text.lower()
  text2 = ' '.join([w for w in word_tokenize(text) if w not in stoplist])
  return text2

In [0]:
df['preprocess'] = X.apply(preprocess)

In [21]:
df.head()

      0  ...                                         preprocess
0   ham  ...  go jurong point crazy available bugis n great ...
1   ham  ...                            ok lar joking wif u oni
2  spam  ...  free entry wkly comp win fa cup final tkts st ...
3   ham  ...                u dun say early hor u c already say
4   ham  ...             nah think goes usf lives around though

[5 rows x 3 columns]

In [0]:
steps = [('text',CountVectorizer()),('ensemble',RandomForestClassifier())]
pipeline = Pipeline()