<a href="https://colab.research.google.com/github/GayathriShrikanth/J046NLP/blob/master/Classwork/vowel_counts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Read the data
import pandas as pd
import numpy as np
df=pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

In [0]:
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
np.shape(df)

(53258, 9)

**Count of vowels and consonants**

In [0]:
#Function to count count of words in a string and store in a dictionary
def alpha_count(str):
    vowels=['a', 'e', 'i', 'o', 'u']
    vcounts=0
    concounts=0
    wcounts=0
    str=str.lower()
    words = str.split()
    for word in words:
      for w in word:
        if w.isalpha():
            if w in vowels:
              vcounts+=1
            else:
              concounts+=1
      wcounts+=1
    counts={'vowel_c':vcounts, 'cons_c':concounts, 't_words':wcounts}
    return counts

In [0]:
df["Count"]=df.reviewText.apply(alpha_count)

In [0]:
df["Count"]

0          {'vowel_c': 279, 'cons_c': 437, 't_words': 186}
1        {'vowel_c': 1504, 'cons_c': 2685, 't_words': 911}
2           {'vowel_c': 134, 'cons_c': 235, 't_words': 96}
3        {'vowel_c': 1089, 'cons_c': 1775, 't_words': 603}
4          {'vowel_c': 208, 'cons_c': 338, 't_words': 120}
                               ...
53253      {'vowel_c': 236, 'cons_c': 358, 't_words': 146}
53254     {'vowel_c': 839, 'cons_c': 1308, 't_words': 498}
53255      {'vowel_c': 422, 'cons_c': 693, 't_words': 290}
53256      {'vowel_c': 232, 'cons_c': 335, 't_words': 147}
53257      {'vowel_c': 582, 'cons_c': 901, 't_words': 337}
Name: Count, Length: 53258, dtype: object

**Words that start with B OR end with G**

In [0]:
import re
def begB_endG(text):
  text = re.sub(r'[^\w\s]',' ',text)    
  x = re.findall(r'\b[Bb]\w+\b', text)
  y = re.findall(r'\b\w+[gG]\b',text)
  return(set(x+y))

In [0]:
df["words"]=df.reviewText.apply(begB_endG)

In [0]:
df["words"]

0        {batteries, travelling, using, running, 49G, c...
1        {disappointing, be, remaining, because, by, re...
2                    {kicking, been, working, giving, But}
3        {better, but, nothing, be, because, looking, g...
4        {purchasing, practicing, but, be, brackets, bu...
                               ...
53253    {batteries, using, swung, weighing, long, butt...
53254    {batteries, using, bright, long, showing, but,...
53255    {batteries, backup, bright, using, weighing, b...
53256    {batteries, sending, using, books, plug, butto...
53257    {but, be, because, by, Because, bowls, using, ...
Name: words, Length: 53258, dtype: object