<a href="https://colab.research.google.com/github/GayathriShrikanth/J046NLP/blob/master/Homework/nounverb_J046_J59.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Read the data
import pandas as pd
import numpy as np
df=pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

In [14]:
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
#Function to calculate noun verb ratio using Spacy
import spacy
sp = spacy.load('en')
def nountoverb(sentence):  
  sentence=sp(sentence)
  noun=0
  verb=0
  ratio=0
  for word in sentence:
    if(word.pos_== "PROPN")|(word.pos_ =="NOUN"):
      noun+=1
    elif(word.pos_=="VERB"):
      verb+=1
    if(verb==0):
      ratio="NoVerb"
    else:
      ratio=noun/verb
  return ratio

In [31]:
#using nltk
import nltk
from nltk.tokenize import word_tokenize
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')
def Noun2Verb(data):
  noun=0
  verb=0
  ratio=0
  words=[]
  text=word_tokenize(data)
  pos_tag=nltk.pos_tag(text)
  for pt in pos_tag:
    if 'NN' in pt[1]:
      noun+=1
      words.append(pt)
    elif 'VB'in pt[1]:
      verb+=1
      words.append(pt)
  if(verb==0):
    ratio="NoVerb"
  else:
    ratio=noun/verb
  return ratio, words

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [32]:
Noun2Verb(df["reviewText"][0])

(0.6666666666666666,
 [('bought', 'VBD'),
  ('HP12C', 'NNP'),
  ('served', 'VBD'),
  ('lost', 'VBD'),
  ('travelling', 'VBG'),
  ('searched', 'VBD'),
  ('replace', 'VB'),
  ('found', 'VBD'),
  ('come', 'VB'),
  ('area', 'NN'),
  ('decided', 'VBD'),
  ('buy', 'VB'),
  ('purchased', 'VBD'),
  ('HP', 'NNP'),
  ('mistake', 'NN'),
  ('know', 'VBP'),
  ('people', 'NNS'),
  ('view', 'VBP'),
  ('HP', 'NNP'),
  ('flagship', 'NN'),
  ('HP', 'NNP'),
  ('line', 'NN'),
  ('was', 'VBD'),
  ('be', 'VB'),
  ('using', 'VBG'),
  ('is', 'VBZ'),
  ('manual', 'NN'),
  ('was', 'VBD'),
  ('sketchy', 'VBN'),
  ('hand', 'NN'),
  ('does', 'VBZ'),
  ('need', 'VBP'),
  ('way', 'NN'),
  ('makes', 'VBZ'),
  ('sense', 'NN'),
  ('me.If', 'VB'),
  ('are', 'VBP'),
  ('looking', 'VBG'),
  ('calculator', 'NN'),
  ('HP12C', 'NNP'),
  ('be', 'VB'),
  ("'s", 'VBZ'),
  ('does', 'VBZ'),
  ('statistics', 'NNS'),
  ('business', 'NN'),
  ('applications', 'NNS'),
  ('makes', 'VBZ'),
  ('sense', 'NN'),
  ('be', 'VB'),
  ('running', 'VBG'),
  ('order.I', 'NN'),
  ("'m", 'VBP'),
  ('set', 'VB'),
  ('move', 'VB'),
  ('friend', 'NN'),
  ('did', 'VBD'),
  ('have', 'VB'),
  ('replace', 'VB'),
  ('batteries', 'NNS'),
  ('decade', 'NN'),
  ('use', 'NN'),
  ('HP', 'NNP'),
  ("'m", 'VBP'),
  ('coming', 'VBG'),
  ('home', 'NN')])

In [0]:
df['NountVerbRatio'] = df[:1000].reviewText.apply(nountoverb)

In [21]:
df['NountVerbRatio'][:1000]

0       0.74359
1       2.15278
2             1
3        1.3871
4          1.28
         ...
995      1.1875
996     2.23636
997     1.14286
998    0.769231
999    0.909091
Name: NountVerbRatio, Length: 1000, dtype: object

In [22]:
df.head()

       reviewerID        asin  ...   reviewTime NountVerbRatio
0  A32T2H8150OJLU  B00000JBLH  ...   09 3, 2004        0.74359
1  A3MAFS04ZABRGO  B00000JBLH  ...  12 15, 2007        2.15278
2  A1F1A0QQP2XVH5  B00000JBLH  ...   01 1, 2011              1
3   A49R5DBXXQDE5  B00000JBLH  ...  04 19, 2006         1.3871
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...   08 4, 2013           1.28

[5 rows x 10 columns]