<a href="https://colab.research.google.com/github/GayathriShrikanth/J046NLP/blob/master/Homework/word_count.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Read the data
import pandas as pd
import numpy as np
df=pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

In [13]:
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [14]:
np.shape(df)

(53258, 9)

In [0]:
#Function to count count of words in a string and store in a dictionary
def word_count(str):
    counts = {}
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

In [0]:
df["reviewText_count"]=df.reviewText.apply(word_count)

In [0]:
df["summary_count"]=df.summary.apply(word_count)

In [0]:
counts=pd.concat([df["reviewText_count"],df["summary_count"]],axis=1)

In [26]:
counts.head()

                                    reviewText_count                                      summary_count
0  {'I': 7, 'bought': 1, 'my': 4, 'first': 1, 'HP...  {'A': 1, 'solid': 1, 'performer,': 1, 'and': 1...
1  {'WHY': 1, 'THIS': 2, 'BELATED': 1, 'REVIEW?':...  {'Price': 1, 'of': 1, 'GOLD': 1, 'is': 1, 'up,...
2  {'I': 2, 'have': 2, 'an': 2, 'HP': 3, '48GX': ...  {'Good': 1, 'functionality,': 1, 'but': 1, 'no...
3  {'I've': 4, 'started': 1, 'doing': 2, 'more': ...  {'One': 1, 'of': 2, 'the': 1, 'last': 1, 'an':...
4  {'For': 1, 'simple': 1, 'calculations': 2, 'an...                  {'Still': 1, 'the': 1, 'best': 1}