<a href="https://colab.research.google.com/github/GayathriShrikanth/J046NLP/blob/master/Classwork/vowel_counts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Read the data
import pandas as pd
import numpy as np
df=pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

In [2]:
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [3]:
np.shape(df)

(53258, 9)

In [0]:
#Function to count count of words in a string and store in a dictionary
def word_count(str):
    vowels=['a', 'e', 'i', 'o', 'u']
    consonants = ['b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'v', 'w', 'x', 'y', 'z']
    vcounts=0
    concounts=0
    words = str.split()
    for word in words:
        for w in word:
            if w in vowels:
              vcounts+=1
            elif w in consonants:
              concounts+=1
    total=vcounts+concounts
    counts={'v_counts':vcounts, 'c_count':concounts, 'total':total}
    return counts

In [0]:
df["Count"]=df.reviewText.apply(word_count)

In [19]:
df["Count"]

0          {'v_counts': 267, 'c_count': 411, 'total': 678}
1        {'v_counts': 1318, 'c_count': 2231, 'total': 3...
2          {'v_counts': 132, 'c_count': 220, 'total': 352}
3        {'v_counts': 1049, 'c_count': 1691, 'total': 2...
4          {'v_counts': 200, 'c_count': 317, 'total': 517}
                               ...
53253      {'v_counts': 225, 'c_count': 347, 'total': 572}
53254    {'v_counts': 815, 'c_count': 1268, 'total': 2083}
53255     {'v_counts': 411, 'c_count': 676, 'total': 1087}
53256      {'v_counts': 222, 'c_count': 331, 'total': 553}
53257     {'v_counts': 564, 'c_count': 886, 'total': 1450}
Name: Count, Length: 53258, dtype: object